<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[
    const STATUS_URL = '<%=luci.dispatcher.build_url("admin", "services", "cloudflarespeedtest","status")%>';
    const RUN_URL = '<%=luci.dispatcher.build_url("admin", "services", "cloudflarespeedtest","start")%>';
    const STOP_URL = '<%=luci.dispatcher.build_url("admin", "services", "cloudflarespeedtest","stop")%>';
    const LOG_URL = '<%=luci.dispatcher.build_url("admin", "services", "cloudflarespeedtest","logread")%>';

    XHR.poll(3, STATUS_URL, null,
        function(x, data) {
            if (data) {
                buttonStatus(data.running)
            }
        }
    );

	function cloudflarespeedtest_act_start() {
        buttonStatus(true)
            XHR.get(RUN_URL, null, () => {
        });
        setTimeout(() => { window.location = LOG_URL }, 500);
        return false;
	}

    function cloudflarespeedtest_act_stop(){
        XHR.get(STOP_URL, null, () => {
            buttonStatus(false);
        });
        return false;
    }

    function buttonStatus(running){
        document.getElementById('cloudflarespeedtest_start').style.display  =  running ? "none" : "block"
        document.getElementById('cloudflarespeedtest_stop').style.display   =  running ? "block" : "none"
    }
//]]></script>

<input id="cloudflarespeedtest_start" type="button" style="display:block;" class="btn cbi-button cbi-button-apply" value="<%= translate('Start') %>" onclick="cloudflarespeedtest_act_start()" />
<input id="cloudflarespeedtest_stop" type="button" style="display:none;" class="btn cbi-button cbi-button-apply" value="<%= translate('Stop') %>" onclick="cloudflarespeedtest_act_stop()" />

<%+cbi/valuefooter%>